:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

img {
  max-width: 100%;
}

.header {
  margin: 1.5em 0 2em;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.movie-card,
.person-card {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
  margin: 0 0 10px;
  transition: transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 0.5em;
  overflow: hidden;
  text-align: center;
}

.movie-card:hover,
.person-card:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px) !important;
}

.movie-card img {
  aspect-ratio: 2 / 3;
  width: 100%;
}

.card-info {
  font-weight: 500;
  padding: 0.5em 1em;
  border-top: 1px solid #ddd;
}

.card-info span {
  font-weight: normal;
  font-size: 0.9rem;
  color: #555;
}

.person-movies-header {
  align-items: center;
  margin: 1em 0;
}

.person-card .person-name,
.movie-card .movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-title {
  font-weight: bold;
}

.movie-detail-card {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  color: #fff;
  overflow: hidden;
}

.movie-detail-card-inner {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.footer {
  margin: 2em 0 1em;
  text-align: center;
}
