:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

img { max-width: 100%; }

.header {
  margin-bottom: 2em;
}

.logo {
  background: #000;
  display: inline-block;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  padding: .1em .25em;
  border-radius: .25em;
}

.movie-card,
.person-card {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
  margin: 0 0 10px;
  transition: transform .3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  border-radius: .5em;
  overflow: hidden;
  text-align: center;
}

.movie-card:hover,
.person-card:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.movie-card img {
  aspect-ratio: 2 / 3;
  width: 100%;
}

.card-info {
  font-weight: 500;
  padding: .75em 1em;
  border-top: 1px solid #ddd;
}

.card-info span {
  font-weight: normal;
  font-size: 0.9rem;
  color: #555;
}

.person-movies-header {
  align-items: center;
  margin: 1em 0;
}

.person-movies-header .person-name {
  display: flex;
  align-items: center;
}

.footer {
  margin: 2em 0 1em;
  text-align: center;
}

